
.padrePost{
    display: flex;
}

.postPadre{
    display: flex;
    flex-direction: column;
}

.postInfo{
    display: flex;
    justify-content: space-around;
}

.postAutores{
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 15px;
    height: 300px;
    margin-top: 10px;
    background-color: #EFEFEF;

    width: 100%;
}

.postResiente{
    
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 20px;
    background-color: #EFEFEF;
    margin: 10px 10px 0px 20px;
    border-radius: 20px;
    
}