.datos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    width: 100%;

}
.Perfil{
    display: flex;
    align-items: center;

    width: 50%;
}
.imgPerfil{
    border-radius: 8px;
    height: 50px;
    width: 50px;
}
.contenNoticias{
    height: 100%;
    overflow-y: auto;
}