.verTodoPadre{
    display: flex;
    justify-content: center;
    width: 100%;
}


.verTodoConten {
    display: flex;
    align-items: center;
    width: 100%;
    height:60px;
    padding: 10px;
    justify-content: space-between;
}

.btnVerTodo {
    border: none;
    color: green;
    margin-right: 100px;
    background-color:#C5FFBD ;
    border-radius: 30px;
    width: 100px;
    height: 100%;
}
.titulo{
    font-size: 160%;
}

@media (max-width: 1630px){

}

@media (max-width: 1900px){

}

@media (max-width: 1900px){

}

@media (max-width: 1900px){

}