.contenedor{
    display: flex;
    padding: 0px 30px 30px 0px ;
}

.contenedorSidebar{
    width:14%;
    padding:0px;
}

.bloqueIzquierda{
    width: 65%;
}


.bloqueDerecha{
    display: flex;
    flex-direction: column;
    background-color: #EFEFEF;
    box-shadow: 10px 10px 10px 10px #aaa6a6;
    margin: 20px;
    border-radius: 20px;
    padding: 1%;
    width: 35%;
    max-height: 925px;
}

.bloqueDerechaResponsing{
    display:none;
}

@media (max-width: 1630px){

}

@media (max-width: 1530px){
    .bloqueDerecha{
        max-height: 100%;
    }
}

@media (max-width: 500px){
    .bloqueDerechaResponsing{
        display:flex;
    }
    .bloqueDerecha{
        display:none;
    }
    .bloqueIzquierda{
        width: 100%;
    }
}

@media (max-width: 1900px){

}