.contenedor{
    display: flex;
    padding: 30px;
}

.bloqueIzquierda{
    width: 65%;
}


.bloqueDerecha{
    display: flex;
    flex-direction: column;
    background-color: #EFEFEF;
    box-shadow: 10px 10px 10px 10px #aaa6a6;
    margin: 20px;
    border-radius: 20px;
    padding: 1%;
    width: 35%;
    max-height: 925px;
}